/* ======================================
 * https://github.com/adamdehaven/gik25-microdata
 * version 0.1
 *
 * gik225
 *
 * gik25-microdata.css
 *
 * ======================================
*/

/* Liste su più colonne con thumbnail (nuova versione) */

div.thumbnail-list {
  column-count: 2;
  margin-bottom: 4px;
}

ol.thumbnail-list,
ul.thumbnail-list {
  /*margin: 1.2em 0 1.2em 1em;*/
  margin: 0px;
  padding-left: 0px;
  list-style: none;
}

ol.thumbnail-list li,
ul.thumbnail-list li {
  background: #efefef;
  border-radius: 0.3em;
  margin-bottom: 1px;
  border-collapse: collapse;
  display: flex; /* establish flex container */
  flex-direction: row; /* make main axis horizontal (default value) */
  justify-content: flex-start;
  align-items: center;
}

ol.thumbnail-list li a,
ul.thumbnail-list li a {
  display: flex; /* establish flex container */
  flex-direction: row; /* make main axis horizontal (default value) */
  justify-content: flex-start;
  align-items: center; /* center items vertically, in this case */
}

ol.thumbnail-list li + div,
ul.thumbnail-list li + div {
  display: flex; /* establish flex container */
  flex-direction: row; /* make main axis horizontal (default value) */
  justify-content: left; /* center items horizontally, in this case */
  align-items: center; /* center items vertically, in this case */
  height: 50px;
  background-color: #eee;
}

div.container li.container {
  display: flex; /* establish flex container */
  flex-direction: row; /* make main axis horizontal (default value) */
  justify-content: left; /* center items horizontally, in this case */
  align-items: center; /* center items vertically, in this case */
  height: 50px;
  background-color: #eee;
}

.li-text {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  padding-left: 8px;
  text-decoration: none;
  font-size: 0.94em;
  box-sizing: content-box;
}

div.li-img img,
img.li-img {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin-bottom: 0px !important;
  box-sizing: content-box;
}

@media screen and (max-width: 600px) {

  .li-text {
    line-height: normal;
    font-size: 0.54em;
  }

  img.li-img img {
    max-width: 50px;
    max-heigth: 50px;
    height: 50px;
    width: 50px;
    margin-bottom: 0px !important;
  }
}

/* Liste su pi� colonne con thumbnail e intestazione bianca / blu */

.entry-content table.thumbnail-list tr:hover td,
.entry-content table.thumbnail-list:hover {
  background-color: white !important;
}

.entry-content table.thumbnail-list tr td {
  padding: 0;
}

/* Liste con pallino azzurrino carino */

ol.nicelist,
ul.nicelist {
  /* margin: 1.2em 0 1.2em 1em; */
  /*column-count: 2;*/
  flex-wrap: wrap;
  display: flex;
  /*display: grid;*/
  /*grid-template-columns: 1fr 1fr 1fr;*/
}

ol.nicelist li,
ul.nicelist li {

  flex: 1 0 160px;
  position: relative;
  display: block;
  padding: 0.4em 0.4em 0.4em 2em;
  margin: 0.6em 0;
  background: #efefef;
  text-decoration: none;
  border-radius: 0.3em;
  font-size: 0.94em;
}

ol.nicelist li a,
ul.nicelist li a {
  /*display: block;*/
  padding: 0;
  margin: 0;
  line-height: 0;
}

ol.nicelist li:before,
ul.nicelist li:before {
  content: " ";
  position: absolute;
  left: -13px;
  top: 20px;
  margin-top: -17px;
  background: #4db2ec;
  height: 28px;
  width: 28px;
  line-height: 26px;
  border: 4px solid #fff;
  text-align: center;
  font-weight: 700;
  border-radius: 28px;
  transition: all 0.3s ease-out;
  color: #555;
  font-size: 14px;
}


#plugin_shortcodes_wrap {
  height: 150px;
  overflow: hidden;
}

.list-of-posts-layout-2 {
  display: flex;
  flex-wrap: nowrap;
  align-content: space-between;
}
.list-of-posts-layout-2 > ul {
  flex-basis: 50%;
}
